#content-appsetting {
    background-color: white;
    min-height: 800px;
    width: auto;
    margin: 20px;
    padding-top: 20px;
}

.box-form-data {
    padding-top: 20px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.input-holder::-webkit-input-placeholder {
    color: #dc2a2a;
    font-family: "OpenSans-Regular";
    font-size: 13px;
}

#fSettingApps .border-bottom-red {
    border-bottom: 1px solid #dc2a2a;
}