#content-notification {
    background: white;
    min-height: 700px;
    margin: 0 20px 0 20px;
    border-radius: 2px;
    padding-bottom: 30px;
}

#content-notification>div {
    padding: 12px 20px;
}

.span-compose-message {
    font-size: 16px;
    color: #444459;
    font-family: 'OpenSans-Regular';
    padding-bottom: 25px;
}

.select-product {
    padding-left: 5px;
    background: white;
    border: none;
    height: 22px;
    border-bottom: 1px solid #dedede;
    width: 20%;
}

#internal-link {
    padding-top: 10px;
    width: auto;
    height: 35px;
}

.input-product-name {
    outline: none;
    display: inline;
    border: none;
    border-bottom: 1px solid #dedede;
    width: 75%;
    margin-left: 4%;
}

.set-img-product-url {
    padding-top: 8px;
}

.text-below-lable {
    display: block;
}

.btn-lg-notification {
    padding-left: 13px;
    padding-right: 20px;
    font-size: 13px;
    line-height: 1.33;
    border-radius: 3px;
}

.btn-lg-notification:hover {
    color: white;
    background: #0d89ed;
}

/* 
.btn-lg-notification:focus {
    color: white;
    background: #0d89ed;
} */

.boder-icon-small-notification {
    margin-top: 16px;
    background: #f5f5f5;
    height: 48px;
    width: 48px;
}

.boder-icon-small-notification img {
    width: 100%;
    height: 100%;
}

.boder-icon-large-notification {
    margin-top: 16px;
    background: #f5f5f5;
    height: 160px;
    width: 160px;
}

.boder-icon-large-notification img {
    width: 100%;
    height: 100%;
}

.boder-icon-big-notification {
    text-align: center;
    margin-top: 16px;
    background: #f5f5f5;
    height: 160px;
    width: 320px;
}

.boder-icon-big-notification img {
    width: auto;
    height: 160px;
}

.boder-icon-background-notification {
    text-align: center;
    margin-top: 16px;
    background: #f5f5f5;
    height: 160px;
    width: 320px;
}

.boder-icon-background-notification img {
    width: auto;
    height: 160px;
}

.setbackground-btn-cancel:hover {
    color: #dc2a2a;
    background: rgb(255, 251, 251);
}

.setbackground-btn-cancel:focus {
    color: #dc2a2a;
    background: rgb(255, 251, 251);
}

.setbackground-btn-cancel {
    color: #dc2a2a;
    background: white;
    border: solid 1px #dc2a2a;
}

.set-location-btn-notification {
    margin-top: 20px;
}

.set-input-color {
    height: 32px;
    padding: 10px 15px !important;
    width: 124px !important;
    border-radius: 2px !important;
}

.label-notification {
    padding-left: 0;
}

.country-notification {
    font-family: 'OpenSans-Light';
    font-size: 13px;
    color: #444549;
    position: absolute;
    right: 3px;
}

.set-spant-color {
    position: relative;
    height: auto;
    width: auto;
    padding: 15px 15px !important;
    margin-left: 4px;
    border: solid 1px #dedede !important;
    background: white;
    border-radius: 2px !important;
}

.set-i-color {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 24px !important;
    height: 24px !important;
}

.boder-color-picker {
    margin-top: 15px;
    margin-bottom: 3px;
}

.boder-color-picker input {
    border: solid 1px #dedede !important;
    outline: none;
    outline-style: none;
    box-shadow: none;
}

.form-control:focus {
    border: solid 1px #dedede;
    outline-style: none;
    box-shadow: none;
}

/* .colorpicker.colorpicker-with-alpha {
    min-width: 240px !important;
}

.colorpicker-saturation {
    min-width: 190px !important;
} */

.right-content-notification {
    height: auto;
    /* background: gray; */
}

/* fixed-div-plateform{} */

.infor-mobile-using {
    display: none;
    padding: 5px;
    float: left;
    width: auto;
    height: 28px;
    background: #ededed;
    border-radius: 2px;
}

.set-infor-mobile-using {
    margin-left: 10px;
}

#border-btn-notification {
    padding: 20px 20px 40px 20px;
}

/* custom radio */

.container-radio-custom {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-radio-custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #eee;
    border-radius: 50%;
}

.container-radio-custom:hover input~.checkmark {
    background-color: #ccc;
}

.container-radio-custom input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-radio-custom input:checked~.checkmark:after {
    display: block;
}

.container-radio-custom .checkmark:after {
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

/* ----------------------------------- */

.cancel-mobile-using {
    cursor: pointer;
}

.border-select-platform {
    cursor: pointer;
    float: left;
    width: 30px;
    height: 30px;
    border: solid 1px #dedede;
    border-radius: 50%;
    position: relative;
    /* margin-bottom: 15px; */
    position: relative;
    margin-left: 5px;
}

.border-select-platform img {
    position: absolute;
    top: 6px;
    left: 8px;
}

.text-select-platform {
    color: #666666;
    font-size: 13px;
    font-family: "OpenSans-Semibold";
    padding-top: 6px;
}

.select-platform {
    height: 30px;
    margin-top: 40px;
}

.interface-mobi {
    height: auto;
    width: auto;
    margin-top: 15px;
}

.select-platform-ios img {
    top: 7px;
    left: 9px;
}

.platform-selected {
    border: none;
    background: #00afee;
}

.option-select ul {
    padding: 0px;
    display: block;
    list-style-type: none;
}

.option-select ul li {
    cursor: pointer;
    padding: 7px 10px;
}

.option-select ul li img {
    padding-right: 10px;
}

.option-select ul li:hover {
    background: #f5f5f5;
    color: rgb(0, 175, 238);
}

.select-country-notificationx {
    width: auto;
    height: auto;
    position: relative;
}

.select-country-notification {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: solid 1px #f1f1f1;
    width: 190px;
    height: auto;
    background: white;
    border-radius: 2px;
}

.arrow-select-custom {
    z-index: 2;
    top: 0px;
    left: 0px;
    position: absolute;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #f1f1f1;
    border-left: 7px solid transparent;
    content: '';
}

.arrow-select {
    top: -7px;
    right: 30px;
    position: absolute;
}

.arrow-select-custom-sub {
    z-index: 2;
    top: 1px;
    left: 1px;
    position: absolute;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}

.select-product-url {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: solid 1px #f1f1f1;
    width: 135px;
    height: auto;
    background: white;
    border-radius: 2px;
}

.show-send-to {
    cursor: pointer;
}

.select-send-to {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: solid 1px #f1f1f1;
    width: 550px;
    height: auto;
    background: white;
    border-radius: 2px;
}

.select-send-to ul {
    padding: 0px;
    display: block;
    list-style-type: none;
}

.select-send-to ul li {
    cursor: pointer;
    padding: 7px 20px;
}

.select-send-to ul li:hover {
    background: #f5f5f5;
    color: rgb(0, 175, 238);
}

.select-product-url ul {
    padding: 0px;
    display: block;
    list-style-type: none;
}

.select-product-url ul li {
    cursor: pointer;
    padding: 7px 10px;
}

.select-product-url ul li:hover {
    background: #f5f5f5;
    color: rgb(0, 175, 238);
}

.set-arrow-segments {
    position: absolute;
    top: -7px;
    left: 20px;
}

.sent-to-segment {
    display: none;
    padding: 15px;
    width: 600px;
    border-radius: 2px;
    height: auto;
    background: white;
    border: solid 1px #f1f1f1;
    margin-bottom: 15px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
}

.interface-mobile-js {
    border-radius: 2px;
    position: absolute;
    width: 278px;
    border: solid 1px #dedede;
    top: 188px;
    left: 34px;
    height: auto;
}

.title-mobile {
    font-size: 11px;
    color: #444459;
    font-family: 'OpenSans-Light';
}

.content-mobile {
    width: 230px;
    padding: 5px 4px 4px 4px;
    font-size: 10px;
    color: #919199;
    font-family: 'OpenSans-Light';
}

#content-mobile {
    width: 150px;
}

.display-none {
    display: none;
}

.boder-img-small-circle {
    padding: 6px;
}
#form-choole-user .col-sm-12{
padding-left: 0px;
padding-right: 0px;
}
.modal-content2{
    margin-top: 65px;
}

.checkbox-custom-noti {
    width: 100%;
    height: 20px;
    float: left;
}

.header-modal-noti {
    padding: 30px 20px 10px 20px;
    background: white;
    height: auto;
}
.header-modal-noti>div{
    padding: 0px 40px 0 40px;
}
.content-modal-noti>div{
    padding: 10px 40px 0px 40px;
}
.margin-btn-noti{
    margin-right: 15px;
}

.set-search-icon{
    position: absolute;
    top: -12px;
    display: block;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
.content-modal-noti{
    background: white;
    height: 200px;
    overflow-y: scroll;
}
#seach-device{
    text-indent: 17px;
    margin-top: -4px;
    border: none;
    border-bottom: solid 1px #dedede;
}
.content-modal-noti::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    background-color: #ffffff;
}

.content-modal-noti::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.content-modal-noti::-webkit-scrollbar-thumb {
    background-color: #cecece;
    border: 2px solid #cecece;
}

.dialogdeleteapp-foot-noti{
    padding:  15px 0 15px 0;
    border-top: solid 1px #dedede;
    background: white;
    height: auto;
}
.img-small-circle {
    border: solid 0.5px #ededed;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.img-large-mobile {
    position: absolute;
    top: 6px;
    right: 4px;
    width: 35px;
    height: 35px;
}

.img-large-mobile img {
    height: 100%;
    width: 100%;
    border-radius: 2px;
}

.img-big-mobile {
    padding: 10px 0 0 20px;
    width: 100%;
    height: auto;
    padding-bottom: 8px;
    /* background: greenyellow; */
}

.img-big-mobile img {
    border-radius: 2px;
    width: 150px;
    height: auto;
}