<% include ./layout/header %>

    <div class="xcontent clsmenu">
        <h1>Administrator</h1>
        <span>
            <%=strDate %>
        </span>
        <span>
            <%=strDate.getTimezoneOffset() %>
        </span>
        <span>
            <%=strDate.toLocaleTimeString() %>
        </span>
    </div>
    </div>
    </div>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/admin/breadcrumb.js "></script>