<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body style="font-family: arial;">
    <div style=" width: 60%; margin-left: 20%;">
        <img src="https://s19.postimg.org/p2snmvncj/logo-appbuilder5.png">
        <br>
        <br>
        <p>
            Dear
            <b>{{fEmail}}</b>,
        </p>
        <p>Welcome to deployapp.net
        </p>
        <p>
            The password to access
            <a href="https://deployapp.net">
                <b> https://deployapp.net</b>
            </a> is:
            <b>{{fPass}}</b>
        </p>
        <br>

        <br>
        <br>
        <p>Best regards,
            <br> The
            <b>Deploy App</b> Team</p>
    </div>
</body>

</html>