<% include ./../headerdetail %>
    <script type="text/javascript" charset="utf-8" src="/themes/js/dashboard/notification/notification.js"></script>
    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div id="title-appversion" class="content-title-detail has-feedback">
                <span class="textmyapp">Sent Notification
                </span>
            </div>
        </div>
      
    </div>
    </div>
    </div>