<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %> - DeployApp.net
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free Tools for deploy your mobile application. The Easiest Mobile App Builder">
    <meta name="author" content="TaydoTech">
    <link rel="shortcut icon" href="/themes/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/themes/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/themes/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/themes/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/detail.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/login/login.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/checkout/checkout.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/editprofile.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/homeapp/homeapp.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/notification/notification.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/sentnotification/sentnotification.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/appversion/appversion.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/appversion/appversion_deployapp.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/datetimepicker.css">

    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/notification/bootstrap-colorpicker.min.css">


    <script type="text/javascript" charset="utf-8" src="/themes/js/libsetting.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/jquery.easing.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/ejs.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/jquery.animateNumber.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/dashboard/chartjs/chartjs.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/dashboard/menudetail.js"></script>
    <!-- datetime picker -->
    <script type="text/javascript" charset="utf-8" src="/themes/js/dashboard/momentdatetimepicker.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/dashboard/datetimerpicker.min.js"></script>
    <!-- chart google -->
    <!-- <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/traffic/chartgg.js "></script> -->
    <!-- chart anychart -->

    <script type="text/javascript" charset="utf-8" src="/themes/js/dashboard/notification/bootstrap-colorpicker.min.js"></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/chartjs/anychart/anychart-base.min.js"></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/chartjs/anychart/anychart-ui.min.js"></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/chartjs/anychart/anychart-exports.min.js"></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/chartjs/anychart/anychart-map.min.js"></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/chartjs/anychart/anychart-data-adapter.min.js"></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/chartjs/anychart/world.js"></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/chartjs/anychart/proj4.js"></script>

    <script type="text/javascript " charset="utf-8 " src="/themes/js/checkout/checkout.js"></script>
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/anychart-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/anychart-font.min.css">
    <!-- new 21-11 -->
    <script type="text/javascript">
        $(document).ready(function () {
            $.post(
                "/getaccount", {},
                function (data) {
                    $('.imgavatarsmall').attr('src', data.picture);
                    $('.setspanfullname').text(data.fullname);
                }
            )
            $.post(
                "/getamountapp", {},
                function (data) {
                    $('.textamountapp').text("MyApp(" + data.amount + ")");
                }
            )
        });
    </script>
</head>

<body id="body">
    <div id="loading" style="display:none">
        <div class="content-loading">
            <div class="img-loading">
                <img class="img-responsive" src="/themes/img/spinner.gif" alt="">
            </div>
            <div class="text-loading">
                <span>Please wait...</span>
            </div>
        </div>
    </div>
    <div class="successPopup" id="successPopup">
        <div class="alert alert-danger alert-dismissable alert-success" id="success-alert">
            <button type="button" class=" button-close-notification" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="text-title-error">
                <i class="fa fa-check icon-check-mail" aria-hidden="true"></i>
                <span class="contenemail">Email sent</span>
            </span>
            <br>
        </div>
    </div>
    <div class="errPopup" id="errPopup">
        <div class="alert alert-danger  alert-dismissable alert-error" id="danger-alert">
            <button type="button" class="button-close-notification" aria-hidden="true">×</button>
            <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
            <span class="text-title-error">
                <img class="img-icon-error" src="/themes/img/error-icon.png" alt="icon error"> Error </span>
            <br>
            <span class="alert-upload"></span>
        </div>
    </div>
    <div class="container ">
        <div class="modal fade" id="modal-cart" role="dialog">
            <div class="content-cart">
                <div class="header-modal-cart">
                    <span>Shopping Cart</span>
                    <img data-dismiss="modal" aria-label="Close" src="/themes/img/dashboard/iconclose.png">
                </div>
                <div class="content-modal-cart">
                    <%for(let i =0; i< 5;i++){%>
                        <div class="item-product-in-cart">
                            <div class="left-content-product-in-cart">
                                <img src="/themes/img/product/test.png">
                            </div>
                            <div class="right-content-product-in-cart">
                                <span>Pretashop Import Product with</span>
                                <span>$58.00</span>
                                <span class="set-text-olde-price"> $81.00</span>
                                <div class="border-add-product">
                                    <div class="set-btn-cart float-left reduce-product">-</div>
                                    <div class="set-input-add-product float-left number-product">1</div>
                                    <div class="set-btn-cart float-left add-product">+</div>
                                    <div class="float-right">
                                        <span>$58.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>

                </div>
                <div class="footer-modal-cart">
                    <span>Total</span>
                    <span class="float-right">$58.00</span>
                    <br>
                    <a href="/checkout">
                        <button class="btn-blue-checkout">CHECK OUT</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div id="deploy-detail-content">
        <% include ./menuleft %>
            <div id="content-detail" class="clsmenu">

                <div class="navbar1 clsmenu">
                    <!-- <div class="collapse navbar-collapse top-menu-right"> -->
                    <!-- <div class="editbtn-menuleft">
                        <button type="button" id="nomenu" class="menuleftshow">
                            <img class="imgfirst" src="/themes/img/dashboard/iconmenu.png">
                        </button>
                        <button type="button" id="okmenu" class="menulefthide">
                            <img class="imgfirst" src="/themes/img/dashboard/iconmenu.png">
                        </button>
                    </div> -->
                    <div id="viewaccount">
                        <div id="user-deploy">
                            <div class="showmenuaccount">
                                <span class="setspanfullname showmenuuser showmenuaccount">
                                </span>
                                <img class="showmenuuser showmenuaccount imgavatarsmall" src="/themes/img/dashboard/avatar.png" alt="deployapp">
                                <img class="setarrow showmenuuser showmenuaccount" src="/themes/img/login/iconarrow.png" alt="deployapp">
                            </div>
                            <div id="menuaccount">
                                <div class="arrowmenuuser">
                                </div>
                                <div class="arrowmenuuser1">
                                </div>
                                <div id="menuuser">
                                    <a href="/dashboard">
                                        <div class="selectmenu divhover showmenuaccount">
                                            <img class="imgfirst" src="/themes/img/dashboard/icondashboardhover.png">
                                            <img class="imglast" src="/themes/img/dashboard/icondashboard.png">
                                            <span class="spanmenuaccount">Dashboard</span>
                                        </div>
                                    </a>
                                    <a href="/editprofile">
                                        <div class="selectmenu divhover showmenuaccount">
                                            <img class="imgfirst" src="/themes/img/dashboard/iconacountt.png">
                                            <img class="imglast" src="/themes/img/dashboard/iconaccountactive.png">
                                            <span class="spanmenuaccount">Edit profile</span>
                                        </div>
                                    </a>
                                    <a href="/logout">
                                        <div class="selectmenu divhover showmenuaccount">
                                            <img class="imgfirst" src="/themes/img/dashboard/iconlogout.png">
                                            <img class="imglast" src="/themes/img/dashboard/iconlogoutative.png">
                                            <span class="spanmenuaccount">Log Out</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="ringing">
                            <a href="#">
                                <span id="number-notifications">
                                    2
                                </span>
                                <img src="/themes/img/dashboard/ringnotifications.png">
                            </a>
                        </div>
                        <div id="cart-myapp" data-toggle="modal" data-target="#modal-cart">
                            <a href="#">
                                <span id="number-notifications">
                                    2
                                </span>
                                <img src="/themes/img/dashboard/iconcart.png">
                            </a>
                        </div>
                    </div>
                    <div id="navigate-text">
                        <!-- <span>Home</span>
                        <span class="setarrownavigate">
                            <img src="/themes/img/dashboard/iconarrowbreadcrumb.png">
                        </span>
                        <span id="text-href">My app</span> -->
                    </div>
                </div>