<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %> - DeployApp.net
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free Tools for deploy your mobile application. The Easiest Mobile App Builder">
    <meta name="author" content="TaydoTech">
    <link rel="shortcut icon" href="/themes/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/themes/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/themes/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/themes/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/detail.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/login/login.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/checkout/checkout.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/editprofile.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/homeapp/homeapp.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/notification/notification.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/sentnotification/sentnotification.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/appversion/appversion.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/appversion/appversion_deployapp.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/notification/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/affiliate/affiliate.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/membership/membership.css">

    <script type="text/javascript" charset="utf-8" src="/themes/js/libsetting.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/jquery.easing.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/ejs.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/jquery.animateNumber.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/dashboard/chartjs/chartjs.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/dashboard/menudetail.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/dashboard/addtocard.js"></script>
    <!-- datetime picker -->
    <script type="text/javascript" charset="utf-8" src="/themes/js/dashboard/momentdatetimepicker.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/dashboard/datetimerpicker.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/dashboard/notiuser.js"></script>
    <!-- chart google -->
    <!-- <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/traffic/chartgg.js "></script> -->
    <!-- chart anychart -->
    <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/advertisement.js"></script>

    <script type="text/javascript" charset="utf-8" src="/themes/js/dashboard/notification/bootstrap-colorpicker.min.js"></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/chartjs/anychart/anychart-base.min.js"></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/chartjs/anychart/anychart-ui.min.js"></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/chartjs/anychart/anychart-exports.min.js"></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/chartjs/anychart/anychart-map.min.js"></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/chartjs/anychart/anychart-data-adapter.min.js"></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/chartjs/anychart/world.js"></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/chartjs/anychart/proj4.js"></script>


    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/anychart-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/anychart-font.min.css">
    <!-- new 21-11 -->
    <script type="text/javascript">
        $(document).ready(function () {
            $.post(
                "/getaccount", {},
                function (data) {
                    $('.imgavatarsmall').attr('src', data.picture);
                    $('.setspanfullname').text(data.fullname);
                }
            )
            $.post(
                "/getnumbernoti", {},
                function (data) {
                    // alert(data);
                    if (data.number > 0) {
                        $('#number-of-notification').html(data.number);
                        $('#number-notifications').html(data.number);
                    }
                    data.data.forEach((item) => {
                        $('#body-content-for-user').append(
                            `
                                <a href="/dashboard/membership/detailnoti/` +
                            item.id +
                            `" >
                                <div class="box-content-noti" id="box-content-noti-` +
                            item.id +
                            `">
                                <div class="box-icon-notification">
                                    <img src="/themes/img/admin/symbolnotifi.png" alt="symbol notification">
                                </div>
                                <div class="content-notification-user">
                                    <div class="title-content-noti" id="title-notification-for-user">
                                        <span>` +
                            item.title +
                            `</span>
                                        <a href="javascript:void(0)" onclick="deletenotiuser('` +
                            item.id +
                            `')" class="btn-close-noti">
                                           <img src="/themes/img/admin/closemodal.png" alt="Close model">
                                        </a>
                                    </div>
                                    <div class="body-content-noti" id="content-message-noti-for-user">
                                <span>  ` +
                            (item.content.length < 75 ? item.content : item.content.slice(0, 74) +
                                '...') +
                            `</span>       
                                    </div>
                                    <div class="head-content-noti" id="date-footer-noti-for-user">
                                        <span>${moment(item.dateCreate).format('DD/MM/YYYY HH:mm:ss')} </span>
                                    </div>
                                </div>
                            </div> 
                            </a>`
                        );
                    })
                }
            )
            $.post(
                "/getamountapp", {},
                function (data) {
                    $('.textamountapp').text("My Apps (" + data.amount + ")");
                }
            )
            $.post("/get-cart", {},
                function (data) {
                    let tong = 0;
                    // console.log(data.cart[0].cart.idApp)
                    $("#number-product-in-cart").text(data.cart.length);
                    if (data.cart.length > 0) {
                        $("#number-product-to-cart").text(data.cart.length);
                        $("#number-product-to-cart").show();
                    } else {
                        $("#number-product-to-cart").hide();
                    }

                    for (let i = 0; i < data.cart.length; i++) {
                        $("#content-modal-cart-id").append(
                            `<div class="item-product-in-cart">
                            <div class="left-content-product-in-cart">
                                <img src="/themes/img/appdashboard/${data.cart[i].cart.image}">
                            </div>
                            <div class="right-content-product-in-cart">
                                <span>${data.cart[i].cart.nameApp}</span></br>
                                <span> 
                                <input hidden class="idApp-hidden" value="${data.cart[i].cart.idApp}">
                                <input hidden class="price-hidden" value="${data.cart[i].cart.price}">
                                ${"$" + data.cart[i].cart.price}
                                </span>
                                <span class="set-text-olde-price">${"$" + data.cart[i].cart.cost}</span>
                                <div class="border-add-product">
                                    <div class="set-btn-cart float-left reduce-product">-</div>
                                    <div class="set-input-add-product float-left number-product">${data.cart[i].count}</div>
                                    <div class="set-btn-cart float-left add-product">+</div>
                                    <div class="float-right">
                                    <span class="price-product">${"$" + data.cart[i].cart.price*data.cart[i].count}</span>
                                    </div>
                                </div>
                            </div>
                            <img class="set-icon-delte-app-checkout" src="/themes/img/checkout/icondeletesmallv2.png">
                        </div>`
                        )
                        tong = tong + data.cart[i].cart.price * data.cart[i].count;
                    }
                    $(".total-price-product").text("$" + tong);
                }).always(() => {
                add_and_removeProduct();
                remove_all_product();
            })
            if (document.getElementById("testadblock") == undefined) {
                console.log(document.getElementById("testadblock"))
                $("#myModal-adblock").modal("show");
                $('#myModal-adblock').on('hidden.bs.modal', function () {
                    location.reload();
                });
                $("#btn-adblock").click(() => {
                    location.reload();
                })
            }
        });
    </script>
</head>

<body id="body">
    <div id="loading" style="display:none">
        <div class="content-loading">
            <div class="img-loading">
                <img class="img-responsive" src="/themes/img/spinner.gif" alt="">
            </div>
            <div class="text-loading">
                <span>Please wait...</span>
            </div>
        </div>
    </div>
    <div class="successPopup" id="successPopup">
        <div class="alert alert-danger alert-dismissable alert-success" id="success-alert">
            <button type="button" class=" button-close-notification" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="text-title-error">
                <i class="fa fa-check icon-check-mail" aria-hidden="true"></i>
                <span class="contenemail">Email sent</span>
            </span>
            <br>
        </div>
    </div>
    <div class="errPopup" id="errPopup">
        <div class="alert alert-danger  alert-dismissable alert-error" id="danger-alert">
            <button type="button" class="button-close-notification" aria-hidden="true">×</button>
            <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
            <span class="text-title-error">
                <img class="img-icon-error" src="/themes/img/error-icon.png" alt="icon error"> Error </span>
            <br>
            <span class="alert-upload"></span>
        </div>
    </div>
    <div class="container ">
        <div class="modal fade" id="modal-cart" role="dialog">
            <div class="content-cart">
                <div class="header-modal-cart">
                    <span>Shopping Cart
                        <span id="number-product-in-cart">2</span>
                    </span>
                    <img data-dismiss="modal" aria-label="Close" src="/themes/img/dashboard/iconclose.png">
                </div>
                <div id="content-modal-cart-id" class="content-modal-cart">
                </div>
                <div class="footer-modal-cart">
                    <span>Total</span>
                    <span class="float-right total-price-product">$58.00</span>
                    <br>
                    <a id="click-test" href="/checkout">
                        <button class="btn-blue-checkout">CHECK OUT</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="container ">
        <div class="modal fade" id="myModal-adblock" role="dialog">
            <div class="modal-dialog  ">
                <div class="modal-content1">
                    <div class="dialogdeleteapp">
                        <div class="modal-success-head">
                            <div class="set-img-iconcheck set-icon-adblock">
                                <img src="/themes/img/checkout/iconadblock.png" alt="Checkout">
                            </div>
                            <div class="text-thank-you">
                                <span>Adblock Detected</span>
                            </div>
                            <div class="content-success contemt-adblock">
                                <span>We have detected that you are using an adblock browser plugin to disable advertising from
                                    loading on our website. In order to view this page, we request that you disaple adblock
                                    in plugin settings.</span>
                            </div>
                        </div>
                        <div class="modal-success-foot">
                            <button id="btn-adblock" class="btn-blue-deploy set-color-adblock">Yes, I Understand</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="modal fade" id="myModal-success" role="dialog">
            <div class="modal-dialog  ">
                <div class="modal-content1">
                    <div class="dialogdeleteapp">
                        <div class="modal-success-head">
                            <div class="set-img-iconcheck">
                                <img src="/themes/img/checkout/iconcheck.png" alt="Checkout">
                            </div>
                            <div class="text-thank-you">
                                <span>Thank You</span>
                            </div>
                            <div class="content-success">
                                <span>We have received your order and will be processing it shortly</span>
                            </div>
                        </div>
                        <div class="modal-success-foot">
                            <button aria-label="Close" data-dismiss="modal" class="btn-blue-deploy">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="modal fade" id="modal-notification" role="dialog">
            <input type="hidden" value="<%=idusernoti%>" id="iduserfornoti">
            <div class="box-content-noti-for-user" id="box-content-notifi-for-user">
                <div class="header-modal-notification-user">
                    <span>Notification
                        <span id="number-of-notification">0</span>
                        <!-- <span id="number-product-in-cart">2</span> -->

                    </span>
                    <img data-dismiss="modal" aria-label="Close" src="/themes/img/dashboard/iconclose.png">
                </div>
                <div class="body-content-for-user" id="body-content-for-user">

                </div>
                <div class="footer-box-noti" id="footer-box-noti-for-user">
                    <div class="box-see-all-noti-user">
                        <a href="/dashboard/membership/notificationforuser">See All</a>
                    </div>

                </div>
                <!--Content  -->
                <!-- <div class="box-content-noti">
                    <div class="box-icon-notification">
                        <img src="/themes/img/admin/symbolnotifi.png" alt="symbol notification">
                    </div>
                    <div class="content-notification-user">
                        <div class="title-content-noti" id="title-notification-for-user">
                            <span>Notification</span>
                        </div>
                        <div class="body-content-noti" id="content-message-noti-for-user">
                            <span>Is simply dummy text of the printing  and typesetting industry.</span>
                        </div>
                        <div class="head-content-noti" id="date-footer-noti-for-user">
                            <span>09/10/2017  11:55:04 </span>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="box-content-noti">
                    <div class="box-icon-notification">
                        <img src="/themes/img/admin/symbolnotifi.png" alt="symbol notification">
                    </div>
                    <div class="content-notification-user">
                        <div class="title-content-noti">
                            <span>Notification</span>
                        </div>
                        <div class="body-content-noti">
                            <span>Is simply dummy text of the printing  and typesetting industry typesetting i...</span>
                        </div>
                        <div class="head-content-noti">
                            <span>09/10/2017  11:55:04 </span>
                        </div>
                    </div>
                </div> -->
                <!-- Close Content  -->

            </div>

        </div>
    </div>
    <div id="deploy-detail-content">
        <% include ./menuleft %>
            <div id="content-detail" class="clsmenu">

                <div class="navbar1 clsmenu">
                    <!-- <div class="collapse navbar-collapse top-menu-right"> -->
                    <!-- <div class="editbtn-menuleft">
                        <button type="button" id="nomenu" class="menuleftshow">
                            <img class="imgfirst" src="/themes/img/dashboard/iconmenu.png">
                        </button>
                        <button type="button" id="okmenu" class="menulefthide">
                            <img class="imgfirst" src="/themes/img/dashboard/iconmenu.png">
                        </button>
                    </div> -->
                    <div id="viewaccount">
                        <div id="user-deploy">
                            <div class="showmenuaccount">
                                <span class="setspanfullname showmenuuser showmenuaccount">
                                </span>
                                <img class="showmenuuser showmenuaccount imgavatarsmall" src="/themes/img/dashboard/avatar.png" alt="deployapp">
                                <img class="setarrow showmenuuser showmenuaccount" src="/themes/img/login/iconarrow.png" alt="deployapp">
                            </div>
                            <div id="menuaccount">
                                <div class="arrowmenuuser">
                                </div>
                                <div class="arrowmenuuser1">
                                </div>
                                <div id="menuuser">
                                    <a href="/dashboard">
                                        <div class="selectmenu divhover showmenuaccount">
                                            <img class="imgfirst" src="/themes/img/dashboard/icondashboardhover.png">
                                            <img class="imglast" src="/themes/img/dashboard/icondashboard.png">
                                            <span class="spanmenuaccount">Dashboard</span>
                                        </div>
                                    </a>
                                    <a href="/editprofile">
                                        <div class="selectmenu divhover showmenuaccount">
                                            <img class="imgfirst" src="/themes/img/dashboard/iconacountt.png">
                                            <img class="imglast" src="/themes/img/dashboard/iconaccountactive.png">
                                            <span class="spanmenuaccount">Edit profile</span>
                                        </div>
                                    </a>
                                    <a href="/logout">
                                        <div class="selectmenu divhover showmenuaccount">
                                            <img class="imgfirst" src="/themes/img/dashboard/iconlogout.png">
                                            <img class="imglast" src="/themes/img/dashboard/iconlogoutative.png">
                                            <span class="spanmenuaccount">Log Out</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="ringing" data-toggle="modal" data-target="#modal-notification">
                            <a href="#">
                                <span id="number-notifications">

                                </span>
                                <img src="/themes/img/dashboard/ringnotifications.png">
                            </a>
                        </div>
                        <div id="cart-myapp" data-toggle="modal" data-target="#modal-cart">
                            <a href="#">
                                <span id="number-product-to-cart">
                                    2
                                </span>
                                <img src="/themes/img/dashboard/iconcart.png">
                            </a>
                        </div>
                    </div>

                    <script>
                        function deletenotiuser(id) {
                            $('#box-content-noti-' + id).hide();
                            var numbOld = $('#number-of-notification').html();
                            console.log(numbOld);
                            $('#number-of-notification').html(numbOld - 1);
                            $('#number-notifications').html(numbOld - 1);
                            $.post(
                                "/updatestatusnotiforuser", {
                                    id: id
                                },
                                function (data) {
                                    // $('.imgavatarsmall').attr('src', data.picture);
                                    // $('.setspanfullname').text(data.fullname);
                                    console.log(data);
                                }
                            )
                            // alert(id);
                        }
                    </script>