<% include ../dashboard/headerdetail %>
    <div id="navigate-text">
        <a class="colora" href="/dashboard">
            <span>Home</span>
        </a>
        <span class="setarrownavigate">
            <img src="/themes/img/dashboard/iconarrowbreadcrumb.png">
        </span>
        <a class="colora" href="/affiliate/payment-method">
            <span>Payment Method</span>
        </a>
        <span class="setarrownavigate">
            <img src="/themes/img/dashboard/iconarrowbreadcrumb.png">
        </span>
        <a class="colora" href="/dashboard/myorder">
            <span id="text-href">
                add
            </span>
        </a>
    </div>
    </div>
    <div class="xcontent clsmenu">
        <div class="header-membership">
            <span>Our data packets</span>
            <span>afordable options for a coslty proplem</span>
        </div>
    </div>
    </div>
    </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="/themes/js/affiliate/method/method.js"></script>