#content-checkout {
    min-height: 500px;
    width: 100%;
}

.left-content-checkout {
    min-height: 500px;
    border: solid 1px #ececec;
    margin: 0 0px 0 10px;
    background: white;
    border-radius: 2px;
}

.right-content-checkout {
    min-height: 500px;
    border: solid 1px #ececec;
    margin: 0 10px 0 0px;
    background: white;
    border-radius: 2px;
}