#content-checkout {
    min-height: 500px;
    width: 100%;
}

.left-content-checkout {
    min-height: 800px;
    margin: 0 0px 0 10px;
    /* background: white; */
    border-radius: 2px;
}

.right-content-checkout {
    min-height: 300px;
    border: solid 1px #ececec;
    margin: 0 10px 0 0px;
    background: white;
    border-radius: 2px;
}

#billing {
    min-height: 450px;
    background: white;
    border: solid 1px #ececec;
    border-radius: 2px;
}

#billing .form-group {
    padding-left: 0;
}

#payment {
    margin-top: 15px;
    min-height: 135px;
    background: white;
    border: solid 1px #ececec;
    border-radius: 2px;
}

.set-title-billing {
    padding: 23px;
    height: 61px;
    font-size: 16px;
    color: #444459;
    font-family: 'OpenSans-Regular';
}

.set-title-payment {
    padding: 18px;
    height: 61px;
    font-size: 16px;
    color: #444459;
    font-family: 'OpenSans-Regular';
}

.status-tast-1 {
    margin-right: 6px;
    padding: 1px 7px;
    color: white;
    border-radius: 50%;
    font-size: 13px;
    background-color: #00afee;
}

.left-content-checkout label {
    margin-bottom: 12px;
}

.btn-complate-checkout {
    margin-top: 15px;
}

.item-select-payment {
    width: 100%;
    height: 90px;
    float: left;
}

.promo-code {
    width: 100%;
    height: 105px;
    background: white;
    margin-top: 15px;
    padding: 18px 0 0 11px;
}

.billing-address-complate {
    width: 100%;
    height: 300px;
    background: white;
    margin-top: 15px;
    padding: 18px 0 0 11px;
}

.div-input-promo-code {
    padding-top: 20px;
}

#content-checkout .right-content-checkout {
    margin: 0;
}

#credit-card-detail {
    display: none;
}

#paypal-detail {}

.set-text-promo-code {
    font-family: 'OpenSans-Regular';
    font-size: 13px;
    color: #666666;
}

.div-title-payment {
    height: 35px;
}

.set-text-title-payment {
    font-family: 'OpenSans-Regular';
    font-size: 13px;
    color: #00afee;
}

.header-you-order {
    font-size: 16px;
    color: #444459;
    font-family: 'OpenSans-Regular';
    padding: 15px;
    height: 35px;
    border: none;
}

#number-product-in-cart {
    background: red;
    padding: 0 6.5px 0 6.5px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
}