<% include ../dashboard/headerdetail %>
    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div class="content-title-detail has-feedback">
                <h3 class="textmyapp">Detail Recelve money</h3>
            </div>
        </div>
        <div class="content-detail-affiliate row row1">
            <div class="lable-content-detail-affiliate">
                <div class="left-content-detail-affiliate float-left">
                    <span>Money transfer account</span>
                    <br>
                    <span>Balance amount</span>
                    <br>
                    <span>Account/ receipt card</span>
                    <br>
                    <span>Bank branch</span>
                    <br>
                    <span>Account holder</span>
                    <br>
                    <span>Amount of withdrawal</span>
                    <br>
                    <br>
                    <span>Fee (Not VAT)</span>
                    <br>
                    <span>Method of receiving money</span>
                    <br>
                    <span>Date</span>
                    <br>
                    <span>Status</span>
                    <br>
                    <span>Additional notes</span>
                    <br>
                </div>
                <div class="right-content-detail-affiliate float-left">
                    <span>1254689871</span>
                    <br>
                    <span>$3,456.78</span>
                    <br>
                    <span>654984654165</span>
                    <br>
                    <span>Bank transfer - Bank For agriculture and rural Development VIET NAM</span>
                    <br>
                    <span>Diana Shushi</span>
                    <br>
                    <span>$159.00
                        <br>
                        <span>(one hundred fifty-nine dollars)</span>
                    </span>
                    <br>

                    <span>+ $0.30</span>
                    <br>
                    <span>Paypal</span>
                    <br>
                    <span>17/05/2018</span>
                    <br>
                    <span>Complate</span>
                    <br>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry</span>
                    <br>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>