<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body style="font-family: arial;">
    <div style=" width: 60%; margin-left: 20%;">
        <img src="https://deployapp.net/themes/img/logo-appbuilder5.png">
        <br>
        <br>

        <p>you {{name}} extract {{money}} USD from account
        </p>
        <br>

        <br>
        <br>
        <p>Best regards,
            <br> The
            <b>Deploy App</b> Team</p>
    </div>
</body>

</html>