<% include ../dashboard/headerdetail %>
    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div class="content-title-detail has-feedback">
                <h3 class="textmyapp">Affiliate Report</h3>
            </div>
        </div>
        <div class="statement-header row row1">
            <div class="content-statement">
                <div class="set-icon-wallet">
                    <img src="/themes/img/affiliate/iconwalletstatements.png" alt="money">
                </div>
                <div class="money-total-statements">$1,263.99</div>
                <div class="description-total-statements">Remaining balance in your account</div>
                <div class="button-withdrawal-statements">
                    <button class="btn-blue-deploy">
                        <img src="/themes/img/affiliate/iconwithdrawal.png" alt="money"> Withdrawal
                    </button>
                </div>
            </div>
        </div>
        <div class="daily-traffic row row1">
            <div class="content-history-statements">
                <div class="content-head-statistics ">
                    <span class="settext-h1-traffic ">History</span>
                    <span class="graytext-h3 floatright ">
                        <a class="download-csv-statement" onclick="download_csv()"> Download CSV</a>
                    </span>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    </div>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/affiliate/statements/statement.js"></script>