<% include ../dashboard/headerdetail %>
    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div class="content-title-detail has-feedback">
                <h3 class="textmyapp">Affiliate Report</h3>
            </div>
        </div>

        <%
        function set_money(a) {
            a = Number(a.toFixed(2));
            return "$" + a.toLocaleString('en');
        }

        function set_money_change(a) {
            if(a>=0){
                a = Number(a.toFixed(2));
                return "+ $" + a.toLocaleString('en');
            }else{
                a = Math.abs(a);
                a = Number(a.toFixed(2));
                return "- $" + a.toLocaleString('en');
            }
           
        }
        %>


    </div>
    </div>
    </div>
    </div>