<% include ../dashboard/headerdetail %>
    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div class="content-title-detail has-feedback">
                <h3 class="textmyapp">Affiliate Report</h3>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>