#dialog-choose-platform-deploy-dashboard {
    z-index: 1000;
    background: rgba(40, 36, 41, 0.65);
    opacity: 1;
    position: fixed;
    display: block;
    /*background-color: #999;*/
    top: 0;
    width: 100%;
    height: 100%;
}

.content-noti-success-android {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 580px;
    height: 235px;
    background-color: #fff;
    border-radius: 2px;
    border-radius: 5px;
    text-align: center;
}

.text-noti-ok-success {
    height: 75%;
    width: 100%;
    margin: 0 auto;
    font-family: "OpenSans-Light";
    font-size: 14px;
    padding-top: 25px;
    color: #666;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #dadade;
}

.box-btn-ok-success-android {
    text-align: right;
    height: 25%;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#dialog-noti-choose-android-dashboard {
    z-index: 1000;
    background: rgba(40, 36, 41, 0.65);
    opacity: 1;
    position: fixed;
    display: none;
    /*background-color: #999;*/
    top: 0;
    width: 100%;
    height: 100%;
}

#dialog-build-android-dashboard {
    z-index: 1000;
    background: rgba(40, 36, 41, 0.65);
    opacity: 1;
    position: fixed;
    display: none;
    /*background-color: #999;*/
    top: 0;
    width: 100%;
    height: 100%;
}

#dialog-build-ios-dashboard {
    z-index: 1000;
    background: rgba(40, 36, 41, 0.65);
    opacity: 1;
    position: fixed;
    display: none;
    /*background-color: #999;*/
    top: 0;
    width: 100%;
    height: 100%;
}

.content-noti-choose-platform-dashboard {
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    width: 785px;
    height: 255px;
    background-color: #fff;
    border-radius: 2px;
    border-radius: 5px;
    text-align: center;
}

.content-build-ios-dashboard {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 785px;
    height: 560px;
    background-color: #fff;
    border-radius: 2px;
    border-radius: 5px;
    text-align: center;
}

.box-btn-ok-success-android {
    text-align: center;
    height: 25%;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.content-bottom-noti-info {
    /* width: 100%; */
    height: 100%;
    padding-top: 10px;
    padding-right: 20px;
}

.row-platform {
    max-width: 95%;
    margin: 0 auto;
}

.head-choose-platform-dashboard {
    background-color: #f9f9f9;
    height: 20%;
}

.text-choose-platform {
    font-family: "Helvetica-Bold";
    font-size: 30px;
    color: #5a5a5a;
}

.btn-next-platform-dash {
    background-color: #00afee;
    color: #fff;
    padding: 8px 12px;
    border-radius: 2px;
    font-family: "OpenSans-Regular";
    font-size: 14px;
}

.btn-next-platform-dash:hover,
.btn-next-platform-dash:active {
    color: #fff;
    background-color: #428ecc;
    text-decoration: none;
}

.btn-close-platform-dash {
    background-color: #B4B8B9;
    color: #141313;
    padding: 8px 20px;
    border-radius: 2px;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    margin-right: 10px;
}

.btn-close-platform-dash:hover,
.btn-close-platform-dash:active {
    color: #141313;
    background-color: #C6CBCB;
}

.box-platform {
    height: 70%;
    width: 100%;
    margin: 0 auto;
    font-family: "OpenSans-Light";
    font-size: 14px;
    padding-top: 25px;
    color: #666;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #dadade;
}

.btn-group-justified {
    width: 25%;
}

.form-group {
    text-align: left;
    padding-left: 15px;
}

.btn-deploy-build-dashboard {
    text-align: center;
}

.btn-build-ios-dash {
    text-align: center;
}

.head-title-build-ios-dash {
    padding-top: 15px;
}

.box-send-mail-ios {
    padding-left: 15px;
    padding-bottom: 0px;
}

.btn-infobuild {
    font-family: "OpenSans-Semibold";
    font-size: 18px;
    background-color: #00afee;
    color: #fff;
    width: 120px;
    padding: 5px 3px;
    text-align: center;
    border: none;
    border-radius: 3px;
}

.btn-close-infobuild {
    font-family: "OpenSans-Semibold";
    font-size: 18px;
    background-color: #7C7F7F;
    color: #fff;
    width: 120px;
    padding: 5px 3px;
    text-align: center;
    border: none;
    border-radius: 3px;
}

.btn-close-infobuild:hover {
    background-color: #909292;
}

.btn-infobuild:hover,
.btn-infobuild:focus {
    color: #fff;
    background-color: #4d9fbd;
}