@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/themes/fonts/OpenSans-Regular_0.ttf') format('truetype');
}

.btn-blue {
    font-family: 'OpenSans-Regular';
    color: white;
    border-radius: 2px;
    padding: 5px 17px 5px 16px;
    background: #22baf0;
    border: none;
}

.btn-blue:hover {
    background: #0d89ed;
}

#inputsearch-customer {
    padding-bottom: 3px;
    padding-left: 20px;
    border: none;
    background: none;
    width: 300px;
    border-bottom: solid 1px #cdcdcd;
    margin-right: 15px;
}

input:focus {
    outline: none;
}

.showall {
    padding-left: 20px;
    height: 30px;
    width: 100%;
}

.colora {
    color: #00afee;
}

#filter-date button:hover {
    background: white;
}

#filter-table-appversion button {
    padding: 4px 10px;
}

#filter-date button {
    font-family: 'OpenSans-Light';
    font-size: 13px;
    color: #666666;
    border: solid 1px #ececec;
    min-width: 120px;
}

.pagination-table-appversion1 {
    margin-top: -50px;
    position: absolute;
    right: 37px;
}

.pagination li a {
    color: #666666;
    border-radius: 2px;
    padding: 4px 11px;
    margin-left: 7px;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

#content-appversion {
    margin-left: 2%;
    background: white;
    width: 96%;
    padding: 0px 20px 15px 20px;
    border: solid 1px #ececec;
}

#table-appversion {
    border: none;
}

#table-appversion {
    width: 100%;
}

table {
    font-family: 'OpenSans-Light';
    font-size: 13px;
    color: #444549;
}

#filter-table-appversion {
    padding-bottom: 8px;
}

.pagination-table-appversion {
    margin-top: 10px;
    position: absolute;
    right: 36px;
}

#table-appversion tr th {
    border: none;
    padding-bottom: 20px;
    border-bottom: solid 1px #ececec;
}

#table-appversion th {
    font-size: 13px;
    color: #444454;
    font-family: 'OpenSans-Regular';
    padding-left: 10px;
}

#title-table-header th {
    padding-top: 20px;
}

#table-appversion tr td {
    border: none;
}

td {
    padding-left: 10px;
}

.tr-content-appversion {
    height: 105px;
}

.dialogdeleteapp-head-history {
    top: 100px;
    padding: 15px 0 0 20px;
    height: 50px;
    font-size: 14px;
    background: #fcfcfc;
}

.textarea-adduser {
    font-family: 'OpenSans-Light';
    width: 100%;
    border: none;
    border-top: solid 1px #f5f5f5;
    padding: 27px 19px 27px 21px;
    /* text-indent: 15px; */
}

textarea {
    outline: none;
    resize: none;
}

.dialogdeleteapp-foot-history {
    margin-top: -4px;
    padding-top: 20px;
    height: 65px;
    border-top: solid 1px #f5f5f5;
    background: #ffffff;
}

.btn-gray {
    margin-right: 15px;
    font-family: 'OpenSans-Regular';
    color: white;
    border-radius: 2px;
    padding: 5px 17px 5px 16px;
    background: #cdcdcd;
    border: none;
}

.margin-btn {
    margin-left: 5px;
}

.float-right {
    float: right;
}

.table-show {
    padding: 0px 5px 0 20px;
}

.showing-footer {
    margin-top: 17px;
    position: absolute;
    margin-left: 20px;
}

.btn-login-customer {
    border: 1px solid #00afee;
    border-radius: 2px;
    padding: 4px;
}

.btn-login-customer:hover {
    border: 1px solid #00afee;
    border-radius: 2px;
    background-color: #00afee;
    padding: 4px;
}

.btn-login-customer:hover .login-second {
    display: inline;
}

.btn-login-customer:hover .login-first {
    display: none;
}

.login-second {
    display: none;
}

.element-delete {
    margin-top: -5px;
    right: 68px;
    position: absolute;
    z-index: 5;
    background: white;
    width: 110px;
    /* height: 90px; */
    line-height: 2;
    border: 0.5px solid #f5f5f5;
    border-radius: 2px;
    /* padding: 5.5px; */
    box-shadow: 0px 1px 1px #b1b5b9;
}

.box-option-customer:hover {
    background-color: #e9ebecd1;
}

.arrowmenuuser-left {
    margin-top: 3px;
    z-index: 5;
    right: 60px;
    position: absolute;
    border-top: 7px solid transparent;
    border-left: 7px solid #f5f5f5;
    border-bottom: 7px solid transparent;
    content: '';
}

.arrowmenuuser-left1 {
    margin-top: 3px;
    z-index: 5;
    right: 62px;
    position: absolute;
    border-top: 7px solid transparent;
    border-left: 7px solid #fff;
    border-bottom: 7px solid transparent;
    content: '';
}

.left-box-item {
    padding-left: 10px;
}

.multi-option {
    padding-top: 15px;
}

.dropmenu-multi-option {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
    border-radius: 5px;
}

.dropmenu-multi-option:hover {
    color: inherit;
    background: #ECEAEA;
    border: 1px solid #e7eaec;
}

.dropmenu-multi-option:focus {
    color: inherit;
    background: #ECEAEA;
    border: 1px solid #e7eaec;
    outline: none;
}

.dropmenu-multi-option:active {
    color: inherit;
    background: #ECEAEA;
    border: 1px solid #e7eaec;
    outline: none;
}

.dropmenu-multi-option:active:hover {
    color: inherit;
    background: #ECEAEA;
    border: 1px solid #e7eaec;
    outline: none;
}

.dropmenu-multi-option:visited {
    color: inherit;
    background: #ECEAEA;
    border: 1px solid #e7eaec;
    outline: none;
}

.img-option-multi {
    padding-bottom: 4px;
}

.dropdown-menu li a {
    line-height: 2.2;
}

#table-appversion tr:nth-child(even) {
    background-color: #fafafa;
}

.textarea-err::placeholder {
    color: #dc2a2a;
}

.errPopup {
    z-index: 1010;
    display: none;
    width: auto;
    width: 500px;
    position: fixed;
    top: 85px;
    right: 16px;
}

.btn-block-ok {
    margin-right: 15px;
    font-family: 'OpenSans-Regular';
    color: white;
    float: right;
    border-radius: 2px;
    padding: 7px 21px 7px 21px;
    background: #00afee;
    border: none;
}

.btn-block-ok:hover {
    background: #1fb6ec;
}


/* unblock-ok */

#unblock-ok {
    margin-right: 15px;
    font-family: 'OpenSans-Regular';
    color: white;
    float: right;
    border-radius: 2px;
    padding: 7px 21px 7px 21px;
    background: #00afee;
    border: none;
}

#unblock-ok:hover {
    background: #1fb6ec;
}

#mymodal-warring {
    display: none;
}

#ok-empty:hover {
    background: #e44e4b;
}

#ok-empty {
    margin-right: 15px;
    font-family: 'OpenSans-Regular';
    color: white;
    float: right;
    border-radius: 2px;
    padding: 7px 18px 7px 18px;
    background: #ef5350;
    border: none;
}

.btn-delete-ok {
    margin-right: 15px;
    font-family: 'OpenSans-Regular';
    color: white;
    float: right;
    border-radius: 2px;
    padding: 7px 18px 7px 18px;
    background: #ef5350;
    border: none;
}

#content-editprofile {
    width: 97%;
    margin-left: 15px;
    padding: 15px;
    background-color: #fff;
}

.content-form-edit-customer {
    margin: 15px;
}

label {
    font-family: "OpenSans-Semibold";
}

.inputeditcustomer {
    outline: none;
    display: block;
    border: none;
    border-bottom: 1px solid #dedede;
    width: 100%;
}

.input-editcustomer {
    font-family: "OpenSans-Light";
    font-size: 13px;
    text-indent: 7px;
    padding-bottom: 3px;
}

.select-form-country {
    outline: none;
    display: block;
    border: none;
    border-bottom: 1px solid #dedede;
    width: 100%;
}

.btn-update-edit-customer {
    padding-left: 13px;
    padding-right: 20px;
    font-size: 13px;
    line-height: 1.33;
    border-radius: 3px;
    background: #00afee;
    color: #fff;
    font-family: "OpenSans-Semibold";
}

.box-btn-update-customer {
    width: 100%;
}

.divbox-btn-update-customer {
    text-align: center;
}

.imgavatarsmallcircle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.has-feedback .form-control-feedback {
    top: 18px;
}