.paddingstatus {
    cursor: pointer;
    color: white;
    padding: 1px 10px 2px 10px;
    border-radius: 13px;
}

.ordergrayred {
    background: #ec2e15;
}

.arrow-upper-order {
    z-index: 2;
    position: absolute;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f5f5f5;
    border-left: 5px solid transparent;
    content: '';
}

.setarrowabot-upper-order {
    right: 37px;
    top: -4px;
}

.setarrowabot-upper-withdraw {
    right: 37px;
    top: -4px;
}

.setarrowabot-under-withdraw {
    right: 8px;
    top: -4px;
}

.arrow-under-order {
    z-index: 2;
    position: absolute;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
    border-left: 4px solid transparent;
    content: '';
}

.setarrowabot-under-order {
    right: 37px;
    top: -3px;
}

.dropdown-menu>li>a {
    padding: 3px 11px;
}

.dropdown-menu li a {
    font-family: 'OpenSans-Light';
    font-size: 13px;
    color: #666666;
}

.dropdown-menu {
    border-radius: 2px;
    min-width: 150px;
}

.dropdown-menu-left {
    right: 32px;
    left: inherit;
}

.dropdown-menu li a:hover {
    color: rgb(0, 175, 238);
}

.bgstatuspending {
    background: rgb(65, 105, 225);
}

.bgstatuscomplete {
    background: rgb(50, 205, 50);
}

.bgstatuscancel {
    background: rgb(220, 20, 60);
}

.displaynone {
    display: none;
}

.displayblock {
    display: block;
}

.selectstatuspayment li {
    cursor: pointer;
}

.dropdown-menu .activestatus a {
    color: #00afee !important;
    background-color: #f5f5f5;
}