<div id="menu-detail">
    <div class="setlogo">
        <a href="/">
            <img id="logo-big" class="set-a-logo" src="/themes/img/logo-appbuilder.svg" />
            <img id="logo-small" class="set-a-logo" src="/themes/img/dashboard/iconhome.png" />
        </a>
    </div>
    <a href="/dashboard">
        <div id="myapp" class="setlimenu divhover">
            <div class="imgiconmenu">
                <img class="imgfirst" src="/themes/img/dashboard/iconmyapp.png">
                <img class="imglast" src="/themes/img/dashboard/iconmyappactive.png">
            </div>
            <span class="textamountapp spantextmenu" id="spanmenuleft"></span>
            <div class="beauti-menusmall">
                <span class="textamountapp"></span>
                <div class="arrowmenuuser-right">
                </div>
                <div class="arrowmenuuser-right1">
                </div>
            </div>
        </div>
    </a>


</div>