<div id="menu-detail">
    <div class="setlogo">
        <a href="/admin">
            <img id="logo-big" class="set-a-logo" src="/themes/img/logo-appbuilder.svg" />
            <img id="logo-small" class="set-a-logo" src="/themes/img/admin/iconhome.png" />
        </a>
    </div>

    <a href="/admin/customer" title="Customer">
        <div id="customer" class="setlimenu divhover">
            <div class="imgiconmenu">
                <img class="imgfirst" src="/themes/img/admin/customeractive.png">
                <img class="imglast" src="/themes/img/admin/customer.png">
            </div>
            <span class="textamountapp spantextmenu" id="spanmenuleft">Customer</span>
            <div class="beauti-menusmall">
                <span class="textamountapp">Customer</span>
                <div class="arrowmenuuser-right">
                </div>
                <div class="arrowmenuuser-right1">
                </div>
            </div>
        </div>
    </a>

    <!-- <a href="/admin/affiliate" title="Affiliate">
        <div id="affiliate" class="setlimenu divhover">
            <div class="imgiconmenu">
                <img class="imgfirst" src="/themes/img/admin/affiliate.png">
                <img class="imglast" src="/themes/img/admin/affiliateactive.png">
            </div>

            <span class="spantextmenu" id="spanmenuleft">Affiliate</span>

            <div class="beauti-menusmall">Affiliate
                <div class="arrowmenuuser-right">
                </div>
                <div class="arrowmenuuser-right1">
                </div>
            </div>
        </div>
    </a> -->
    <a href="/admin/withdraw" title="Withdraw">
        <div id="withdraw" class="setlimenu divhover">

            <div class="imgiconmenu">
                <img class="imgfirst" src="/themes/img/admin/withdraw.png">
                <img class="imglast" src="/themes/img/admin/withdrawactive.png">
            </div>
            <span class="spantextmenu">Withdraw</span>
            <div class="beauti-menusmall">Withdraw
                <div class="arrowmenuuser-right">
                </div>
                <div class="arrowmenuuser-right1">
                </div>
            </div>
        </div>
    </a>
    <a href="/admin/membership" title="Membership">
        <div id="membership" class="setlimenu divhover">

            <div class="imgiconmenu">
                <img class="imgfirst" src="/themes/img/admin/membership.png">
                <img class="imglast" src="/themes/img/admin/membershipactive.png">
            </div>
            <span class="spantextmenu">Membership</span>
            <div class="beauti-menusmall">Membership
                <div class="arrowmenuuser-right">
                </div>
                <div class="arrowmenuuser-right1">
                </div>
            </div>
        </div>
    </a>
    <a href="/admin/statements" title="Statements">
        <div id="statements" class="setlimenu divhover">

            <div class="imgiconmenu">
                <img class="imgfirst" src="/themes/img/admin/statements.png">
                <img class="imglast" src="/themes/img/admin/statementsactive.png">
            </div>
            <span class="spantextmenu">Statements</span>
            <div class="beauti-menusmall">Statements
                <div class="arrowmenuuser-right">
                </div>
                <div class="arrowmenuuser-right1">
                </div>
            </div>
        </div>
    </a>
    <a href="/admin/apps" title="Apps">
        <div id="apps" class="setlimenu divhover">

            <div class="imgiconmenu">
                <img class="imgfirst" src="/themes/img/admin/apps.png">
                <img class="imglast" src="/themes/img/admin/appsactive.png">
            </div>
            <span class="spantextmenu">Apps</span>
            <div class="beauti-menusmall">Apps
                <div class="arrowmenuuser-right">
                </div>
                <div class="arrowmenuuser-right1">
                </div>
            </div>
        </div>
    </a>
</div>